@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina|Inconsolata');

.App {
  max-width: 920px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-family: "Baloo Bhaina", "Helvetica Neue", sans-serif;
}